@import "src/styles";
.container-gallery{
  padding: 0 100px;
  display: flex;
  position: relative;
  max-width: 1350px;
  margin: 0 auto;
  &__image{
    margin-right: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    position: relative;
    .bcImage{
      object-fit: cover;
    }
    .image-name{
      display: flex;
      align-items: center;
      position: absolute;
      color: white;
      bottom: 7%;
      left: 7%;
      box-shadow: 0px 0px 5px 1px rgba(203, 235, 255, 0.9);
      padding: 10px;
      background-color: rgba(0,0,0,0.3);
      .image-profile{
        border-radius: 50%;
        object-fit: cover;
        //box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.6);
        margin-right: 10px;
      }
      .name-profile{
        font-size: 26px;
        max-width: 248px;
        text-transform: capitalize;
      }
    }
    &:hover{
      box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.9);
    }
  }
  &__desc{
    &__auth{
      h2{
        margin-bottom: 30px;
        text-transform: capitalize;
      }
    }
    &__contact{
      max-width: 700px;
      &__portfolio{
        margin-bottom: 5px;
        a{
          text-decoration: underline;
        }
      }
    }
  }
}
@media (max-width: 960px) {
  .container-gallery {
    flex-direction: column;
    margin-bottom: 100px;
    &__image {
      margin-right: 0;
      .bcImage {
        object-fit: cover;
        width: 100%;
      }
      .image-name{
        bottom: 5%;
        left: 5%;
        padding: 7px;
        .image-profile{
          border-radius: 50%;
          object-fit: cover;
        }
        .name-profile{
          font-size: 26px;
          max-width: 300px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .container-gallery{
    padding: 0 20px;
  }
}

