<div class="container-details">
  <button class="btn btn-back"><i class="fas fa-long-arrow-alt-left"></i> Back</button>
  <div class="container-details__details-box">
    <div class="container-details__details-box__image">
      <img src="" alt="Bandiera ">
    </div>
    <div class="container-details__details-box__desc">
      <h1>Italy</h1>
      <div class="container-details__details-box__desc__list">
        <ul>
          <li><b>Native Name: </b>Italy</li>
          <li><b>Population: </b>11.000.000</li>
          <li><b>Region: </b>Europe</li>
          <li><b>Sub Region: </b>Western Europe</li>
          <li><b>Capital: </b>Rome</li>
        </ul>
        <ul>
          <li><b>top Level Domain: </b>.it</li>
          <li><b>Currencies: </b>Euro</li>
          <li><b>Languages: </b>Italian</li>
        </ul>
      </div>
      <div class="container-details__details-box__desc__border-countries">
        <ul>
          <li>Border Countries: </li>
          <li><button class="btn btn-countries">France</button></li>
          <li><button class="btn btn-countries">Germany</button></li>
          <li><button class="btn btn-countries">Netherlands</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
