:root{
  --DarkBlue: hsl(209, 23%, 22%);
  --VeryDarkBlueDarkMode: hsl(207, 26%, 17%);
  --VeryDarkBlueLightMode : hsl(200, 15%, 8%);
  --DarkGray: hsl(0, 0%, 52%);
  --VeryLightGray : hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Nunito Sans', sans-serif;
  color: var(--VeryDarkBlueLightMode);
  font-size: 14px;
  transition: all 0.2s linear;
}
.bcDark{
  background-color: var(--VeryDarkBlueDarkMode);
}
.shadowDark{
  box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.1)!important;
}
.cardDark{
  background-color: var(--White);
  color: var(--VeryDarkBlueDarkMode);
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.2)!important;
  &:hover{
    box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.6)!important;
  }
}
.cDark{
  color: var(--White)!important;
}
.textWhite{
  color: #e9e9e9!important;
  &:hover{
    color: var(--White)!important;
  }
}

.cardLight{
  background-color: var(--White);
  color: var(--VeryDarkBlueDarkMode);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  &:hover{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  }
}
.filterDark{
  background-color: var(--White);
}
.buttonDark{
  background-color: var(--White);
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  //color: var(--VeryDarkBlueLightMode);
}
//a.dark-mode{
//  color: var(--White);
//}
//a.light-mode{
//  color: var(--VeryDarkBlueLightMode);
//}
